<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:jobTitle) %>:</strong></dt>
  <dd><%= @employee.jobTitle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hireDate) %>:</strong></dt>
  <dd><%= @employee.hireDate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ssn) %>:</strong></dt>
  <dd><%= @employee.ssn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:baseSalary) %>:</strong></dt>
  <dd><%= @employee.baseSalary %></dd>
  <dt><strong><%= model_class.human_attribute_name(:commission) %>:</strong></dt>
  <dd><%= @employee.commission %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bonus) %>:</strong></dt>
  <dd><%= @employee.bonus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payCycle) %>:</strong></dt>
  <dd><%= @employee.payCycle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @employee.department %></dd>
  <dt><strong><%= model_class.human_attribute_name(:branch) %>:</strong></dt>
  <dd><%= @employee.branch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manager) %>:</strong></dt>
  <dd><%= @employee.manager %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
