<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :firstName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middleInitial, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middleInitial, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label :sex, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :sex,  options_for_select(sex.collect{ |u| [u[0], u[1]] })%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthDay, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthDay, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cellPhone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cellPhone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :homePhone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :homePhone, :class => 'text_field' %>
    </div>
  </div>

  <h4>Address</h4>
    <%= f.fields_for :address, :html => { :class => 'form-horizontal' } do |address_form| %>
      <%= render :partial => 'addresses/form', :locals => {:f => address_form}%>
    <%end%>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
